<div>
    <label>Name:</label>
    <input type="text" ng-model="main.sigName" placeholder="Enter name here">
    <label>Link to your website</label>
    <input type="text" ng-model="main.sigNameLink" placeholder="Enter name here">
</div>
<hr>
<em>This is what your signature will appear as</em>
<hr>
<table>
    <tr>
        <td>
            <center>
                <img src="https://ci5.googleusercontent.com/proxy/c4iUFxWezMQiJSbAmD8OGHU642iyBU3uVJbaOrNV1q2MW-tcRSPJoCAZsc1kPJnNWyV4TQ=s0-d-e1-ft#http://i.imgur.com/fhHM8mW.png" width="125" height="100" class="CToWUd"></center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <a ng-href="{{ main.sigNameLink }}" target="_blank">{{ main.sigName }}</a></center>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <center>
                <a href="https://www.facebook.com/catalystsf" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/qqWNOPGEeNvmwNEhISgUK9ym5IgLlzvJEZDcIyjRTtYKOAuWEXePR0QWrtd5ILuq2kRLTQ=s0-d-e1-ft#http://i.imgur.com/z8cL2AM.png" width="25" height="25" style="color:#3b5998" alt="Like on Facebook" class="CToWUd"></a>
                <a href="https://www.youtube.com/channel/UCqZtNyXg9ono9QSwkWHSeaw" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/O7fnaC53d6munp6I6aSAlHeeauWSjv3FLv-TGvR3yhC-m-nrdNWS4y-tD2CZ7kN_vtdeLg=s0-d-e1-ft#http://i.imgur.com/oNxNWub.png" width="25" height="25" alt="Watch on Youtube" class="CToWUd"></a>
                <a href="https://twitter.com/catalystsf" target="_blank"><img src="https://ci3.googleusercontent.com/proxy/h2p417WhororyYqpZQiTB26hC8Ss8QEDKrYYC_cEzxD57vTluLsLcz7JylMBp0VtTJsXpw=s0-d-e1-ft#http://i.imgur.com/QKsrKX5.png" width="25" height="25" alt="Follow on Twitter" class="CToWUd"></a>
            </center>
        </td>
    </tr>
</table>
